html{
    scroll-behavior: smooth;
}
/*FUENTES AGREGADAS  */
@font-face {
    font-family: fontuno;
    src: url(/Multimedia/fonts/LEMONMILK-RegularItalic.otf);
}
@font-face{
    font-family: fontdos;
    src: url(/Multimedia/fonts/LEMONMILK-BoldItalic.otf);
}




                                                    /* HEADER */

header{
    padding: 3rem;
}



                                                    /*  NAVBAR */
nav{
    padding:15rem;
    font-weight: bold;
    border-radius: 10%;
}

                                                    /* FOOTER   */




                                                    /* PRODUCTOS */

.card:hover{
    transform: scale(120%);
    transition: all 2s;
}




