                                                    /* FOOTER */

                                                    footer{
                                                        background-image: url(/Multimedia/img/fondo1.png);
                                                        background-position: bottom;
                                                        border: $borders;
                                                        margin-bottom: 2rem;
                                                    
                                                    
                                                    }
                                                    
                                                    footer div div div a p{
                                                        color: black;
                                                    }
                                                    
                                                    footer div div div a{
                                                        text-decoration: none;
                                                        
                                                    }

                                                    .anim{
                                                        padding: 7px;
                                                    }
                                                    
                                                    .anim:hover{
                                                        transform: scale(130%);
                                                        transition: all 1.5s;
                                                    }


