                                                    /* FOOTER */

                                                    footer{
                                                        background-image: url(/Multimedia/img/fondo1.png);
                                                        background-position: bottom;
                                                        border: $borders;
                                                        margin-bottom: 2rem;
                                                    
                                                    
                                                    }
                                                    
                                                    footer div div div{
                                                        color: black;
                                                        font-size: 0.6rem;
                                                    }
                                                    
                                                    footer div div div a{
                                                        text-decoration:underline;
                                                        color: black;
                                                    }

                                                    footer h3{
                                                        font-size: 0.7rem;
                                                        font-family: Arial, Helvetica, sans-serif;
                                                        text-align: center;
                                                        padding-bottom: 2em;
                                                    }

                                                    .anim{
                                                        padding: 7px;
                                                    }
                                                    
                                                    .anim:hover{
                                                        transform: scale(130%);
                                                        transition: all 1.5s;
                                                    }


