*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-form{
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    margin-top: 1em;
}

.speaker{
    border: $borders;
    background-color: rgb(238, 238, 238);
    width: 80%;
    margin: 0 0 2em 0;
    padding: 2em 2em;
}

.form-row{
    margin-bottom: 2em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="number"]{
background-color: white;
border: 1px solid white;
border-radius: 3px;
width: 100%;
padding:1em;
font-size: 1em;
}

.form-row label{
    margin-bottom: 1em;
}

.form-row textarea{
    font-size: 1rem;
    border: 1px solid white;
border-radius: 3px;
margin-bottom: 1em;
padding: 1em;
min-height: 25em;
min-width: 100%;
}

.form-row button{
    font-size: 1em;
    font-weight: bold;

    color: white;
    background-color: #5995da;

    border: none;
    border-radius: 3px;
    
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover{
background-color: #76aeed;
}

.form-row button:active{
    background-color: #407FC7;
}


.exito{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4em;
    color: white;
    line-height: 2;
    text-decoration: none;
}

.exito-cont{
    margin-top: 5em;
    min-height: 30em;
    border: $borders;
    background-image: url(/Multimedia/img/Solano/DSC_0254.jpg);
    background-position: center;
}