                                                    /*  NAVBAR */
                                                    nav{
                                                        padding:15rem;
                                                        font-weight: bold;
                                                        border-radius: 10%;
                                                    }