                                                    /*  NAVBAR */
.navcont{
    padding: 1em;
    background-color: black;
    background-position: top;
    display: flex;
    justify-content: space-around;
    border-radius: 5%;
}

.navlink{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 2rem;
    font-family: monospace;
}

@media screen and (max-width:1200px){
    .navcont{
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:776px){
    .navlink{
        font-size: 1rem;
    }
}