                                                    /* PRODUCTOS */

                                                    .card:hover{
                                                        transform: scale(120%);
                                                        transition: all 0.8s;
                                                    }

                                                    .card{
                                                        box-shadow:0.5rem 0.5rem 1rem 0.01rem #F0EBE3;
                                                    }

                                                    .card button{
                                                        margin-top: 4px;
                                                        width: 100%;
                                                    }

                                                    @media screen and (max-width:776px){
                                                        .galeria{
                                                            flex-direction: column;
                                                            align-items: center;
                                                        }
                                                        .carta{
                                                            margin-top: 5em;
                                                        }

                                                    }