
                            /* TITTLE-SUBT */

h1{
    font-size: 3rem;
    font-family: monospace;
    text-decoration: underline;
}

h2{
    padding-bottom: 4rem;
    font-size: 2rem;
    font-family: monospace;
    text-decoration: underline;

&:hover{
    transform: scale(120%);
    transition: all 2s;
}
}